<!-- Login.cshtml -->
@model LibraryAppMVC.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="form-container">
            <h1>Login</h1>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }

                </div>
            }
            @if (TempData["Registered"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Registered"]
                </div>
            }
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input asp-for="Email" id="Email" class="form-control" placeholder="Enter your username" required />
                    <span asp-validation-for="Email" style="color: red;"></span>
                </div>

                <div>
                    <label for="Password">Password:</label>
                    <input asp-for="Password" id="Password" type="password" class="form-control" placeholder="Enter your password" required />
                    <span asp-validation-for="Password" style="color: red;"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <a class="btn btn-primary" href="/Home/Index">Home</a>
            <p>Don't have an account? <a href="/Account/Register">Register here</a>.</p>
        </div>
    </div>
</body>
</html>
