<head>
    <title>Book Search</title>
    <style>

        .search-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .search-container h2 {
                margin-bottom: 20px;
            }

            .search-container input[type="text"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                margin-bottom: 10px;
            }

            .search-container button {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                border: none;
                border-radius: 4px;
                color: white;
                font-size: 16px;
                cursor: pointer;
            }

                .search-container button:hover {
                    background-color: #0056b3;
                }
    </style>

</head>

<body>
    @if (TempData["ErrorMessage"] != null)
    {
        <div style="color: red;">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="search-container">
        <h2>Search Books by Title</h2>
        <form action="/library/SearchByTitle" method="post">
            <input type="text" name="title" placeholder="Enter book title">
            <button type="submit">Search</button>
        </form>
    </div>
    <a href="@Url.Action("Home")" class="btn btn-primary btn-block">Home Library</a>
</body>
